[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi-6"

[packages]
transformers = "*"
peft = "*"
accelerate = "*"
xformers = "*"
wandb = "*"
datasets = "*"
einops = "*"
sentencepiece = "*"
jupyterlab = "*"
ipywidgets = "*"
trl = "*"
huggingface-hub = "*"
bitsandbytes = {version = "*", index = "pypi-6"}

[dev-packages]
