[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi-6"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "downloadpytorch"

[packages]
transformers = "==4.38.1"
peft = "==0.8.2"
accelerate = "==0.27.2"
xformers = "==0.0.16"
wandb = "==0.16.3"
datasets = "==2.17.1"
einops = "==0.7.0"
sentencepiece = "==0.2.0"
jupyterlab = "==4.1.2"
ipywidgets = "==8.1.2"
trl = "==0.7.11"
huggingface-hub = "==0.20.3"
bitsandbytes = "*"
torch = {version = "==2.2.1+cu121", index = "downloadpytorch"}
torchaudio = {version = "==2.2.1+cu121", index = "downloadpytorch"}
torchvision = {version = "==0.17.1+cu121", index = "downloadpytorch"}

[dev-packages]
